
*, *::before, ::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../images/sloth-background.png) no-repeat top center;
    background-size: cover;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
}

  .container {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 70%;
    border-radius: 0.5rem;
    padding: 1rem;
    opacity: 0.9;
    background-color: #edddc6;
  }

  .btn-grid {
    display: grid;
    gap: 1rem;
    margin: 2rem 0;
  }

  .btn {
    border: 0.2rem solid #fff;
    background-color: #00563b;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: 600;
  }

  .start-btn:hover,
  .rules-btn:hover, 
  .next-btn:hover {
    background-color: yellow;
    color: black;
  }

  .btn.correct {
    background-color: greenyellow;
    color: black;
  }
  
  .btn.incorrect {
    background-color: red;
  }

  .start-btn, 
  .rules-btn,
  #close-modal, 
  #next-btn {
    font-size: 1rem;
    font-weight: bold;
    background-color: #6c594c;
    color: #fff;
    width: 60%;    
    padding-left: 0;
  }

.start-btn,
.rules-btn {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* border: 0; */
  /* text-align: center; */
  display: block;
  text-align: center;
  margin-bottom: 1rem;
} 




  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }

#question {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    padding-top: 1rem;
}   

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-decoration: underline;
}


.sloth-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 30px;
}

#answer-buttons {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

 /*---------- MODAL ----------*/
/* created using tutorial - https://www.youtube.com/watch?v=XH5OW46yO8I */

.modal-container {
 background-color: #fff;
 position: fixed;
 width: 60vw;
 height: 60vh;
 text-align: center;
 display:flex;
 justify-content: center;
 align-items: center;
 border-radius: 0.5rem;
 border: 0.2rem solid #6c594c;
 opacity: 0;
 pointer-events: none;
}

.modal {
  width: 70%;
  text-align: center;
  font-size: 1rem;
  color: #00563b;
}

.show {
  opacity: 1 !important;
}

